Dear $NAME$,<br/><br/>
Here is your mobile phone bill for the month of $MONTH$<br/><br/>
If your bill has exceeded the limit <b>(in case of official calls)</b>, please send a mail to <a href='mailto:twipayroll@thoughtworks.com'>TWI Payroll</a> (<a href='mailto:twipayroll@thoughtworks.com'>twipayroll@thoughtworks.com</a>) marking your PM (within next 5 working days), so that the amount does not get deducted from your salary.<br/><br/>

<table border='1' bordercolor='#ffffff' cellspacing='0' cellpadding='0' width='100%'>
	<tr bgcolor='#999999' align='center'>
		<td>Emp ID</td>
		<td>Name</td>
		<td>Mobile Number</td>
		<td>SubTotal</td>
		<td>Tax</td>
		<td>Total</td>
		<td>Eligibility</td>
		<td>Excess</td>
	</tr>
	<tr>
		<td>$EMPNUMBER$</td>
		<td>$NAME$</td>
		<td>$NUMBER$</td>
		<td>$SUBTOTAL$</td>
		<td>$TAX$</td>
		<td>$TOTAL$</td>
		<td>$ELIGIBILITY$</td>
		<td>$EXCESS$</td>
	</tr>
</table>
<br/><br/>
File Attached: $PDF$